praeambel.aux
praeambel.fdb_latexmk
praeambel.fls
praeambel.log
praeambel.pdf
praeambel.synctex.gz
.vscode/ltex.dictionary.de-DE.txt
HA1/HA1.synctex.gz
HA1/HA1.aux
HA1/HA1.fdb_latexmk
HA1/HA1.fls
HA1/HA1.log
