praeambel.aux
praeambel.fdb_latexmk
praeambel.fls
praeambel.log
praeambel.pdf
praeambel.synctex.gz
.vscode/ltex.dictionary.de-DE.txt
HA1/HA1.synctex.gz
HA1/HA1.aux
HA1/HA1.fdb_latexmk
HA1/HA1.fls
HA1/HA1.log
HA2/HA2.aux
HA2/HA2.fdb_latexmk
HA2/HA2.fls
HA2/HA2.log
HA2/HA2.synctex.gz
HA2/HA2.out
